@model List<telegramBod.Models.Parser>

@{
    Layout = "~/Views/Shared/_Main.cshtml";
}
<div class="row">
    <div class="row">
        <div class="col-md-9 col-md-offset-3">
            <h2 class="page-title">Товары вашего магазина<small></small></h2>
        </div>
    </div>
    <div class="col-md-10 col-md-offset-2">
        <section class="widget">
            <header>
                <h4>
                    <i class="fa fa-list-ol"></i>
                    Ваш магазин
                </h4>
            </header>
            @{int l = 0; }
            <div class="body">
                <table class="table table-striped table-images">
                    <thead>
                        <tr>
                            <th class="hidden-xs-portrait">#</th>
                            <th>Picture</th>
                            <th>Категории</th>
                            <th class="hidden-xs-portrait">Продукт</th>
                            <th class="hidden-xs">Цена</th>
                            <th class="hidden-xs">Описание</th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>

                        @*@{int k = 0;}*@
                        @for (int i = 0; i < Model.Count(); i++)
                        {
                            for (int j = 0; j < Model[i].p.Count(); j++)
                            {
                                //{ k++; }
                                <tr>
                                    <td class="hidden-xs-portrait"></td>
                                    <td>

                                        @if (Model[i].p[j].ProductPhoto == null)
                                        {
                                        <img src="" alt="">

                                        }
                                        else
                                        {
                                        try
                                        {
                                            <img src="@Model[i].p[j].ProductPhoto.Remove(Model[i].p[j].ProductPhoto.Length - 7).Remove(0, 9)" alt="">
                                        }
                                        catch
                                        {
                                             <img src="" alt=""> 
                                        }
                                        }

                                    </td>
                                    <td>
                                        @Model[i].cat.NameCategory
                                    </td>
                                    <td class="hidden-xs-portrait">
                                        <p>
                                            <small>
                                                <strong>@Model[i].p[j].ProductName</strong>
                                            </small>
                                        </p>
                                        <p>
                                            <small>
                                                <strong> @Model[i].p[j].Counts</strong>

                                            </small>
                                        </p>
                                    </td>
                                    <td class="hidden-xs">
                                        @Model[i].p[j].ProductPrice
                                    </td>
                                    <td>
                                        <form action="/Admin/ShowShop?namep=@Model[i].p[j].ProductName&namecat=@Model[i].cat.NameCategory" method="post">
                                            <input value="Удалить" class="btn btn-sm btn-primary" type="submit" />
                                        </form>
                                    </td>

                                </tr>

                            }
                        }
                    </tbody>

                </table>
                @*<div class="clearfix">
                        <div class="pull-right">
                            <button class="btn btn-default btn-sm">
                                Send to ...
                            </button>
                            <div class="btn-group">
                                <button class="btn btn-sm btn-inverse dropdown-toggle" data-toggle="dropdown">
                                    &nbsp; Clear &nbsp;
                                    <i class="fa fa-caret-down"></i>
                                </button>

                            </div>
                        </div>

                    </div>*@
            </div>
        </section>
    </div>
</div>